.bookmarks-list-page {
  width: 100%;
}

.bookmarks-list-page h1 {
  margin-bottom: 1.5rem;
  color: #333;
}

.empty-message {
  color: #666;
  font-style: italic;
  padding: 2rem;
  text-align: center;
}

.bookmark-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

